<p-panel header="Pipes Numéricos" class="p-1">

  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module
  </p>

</p-panel>

<div class="grid">

  <div class="col-12 md:col-4">
    <p-card header="Ventas Netas">

      <b>Original</b>
      {{ totalSells }}
        <hr>
      <b>Decimal Pipe</b>
      {{ totalSells + 1235 | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ventas Brutas">

      <b>Original</b>
      {{ totalSells }}
        <hr>
      <b>Currency Pipe</b>
      {{ totalSells | currency:'COP':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="Ganancia Porcentual">

      <b>Original</b>
      {{ percent }}
        <hr>
      <b>Percent Pipe</b>
      {{ percent | percent:'1.2-2' }}
    </p-card>
  </div>

</div>